#chapter2 {
    background-image: url(../images/image.png);
    background-size: cover;
}

#chap2FirstImg {
    width: 2px;
}

#honBild {
    width: 50%;
}

#letterPicture {
    cursor: pointer;
}

#overlay {
    display: none;
}

#overlay1 {
    display: none;
}

#letter {
    background-color: white;
}

#letterTitleAndText {
    display: flex;
    align-items: center;
    gap: 5px;
}

span {
    font-weight: bold;
    font-size: large;
}

#letterPicture,
#letterPicture1 {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}