#chapter1 p {
    width: 75%;
}

#firstPicFrame {
    width: 183px;
    transform: rotate(12deg);
    margin-top: 40px;
    margin-left: auto;
}

#firstPicFrame img {
    height: 100%;
    width: 100%;
}

#secondPicFrame {
    height: 122px;
    width: 183px;
    transform: rotate(-12deg);
    margin-top: 40px;
}

#secondPicFrame img {
    height: 100%;
    width: 100%;
}

#secondBodyText {
    margin-left: auto;
}

#chapter1Next {
    width: 50px;
    height: 24px;
    display: block;
    margin-left: auto;
    margin-top: 20px;
}

.nextPlaceClue {
    width: 100% !important;
}