@font-face {
    font-family: "InstrumentSerif";
    src: url(../fonts/InstrumentSerif-Regular.ttf);
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

#chapter1 {
    padding: 20px;
    border: 1px solid black;
    background-image: url(../images/crumbledPaper.jpg);
}

#chapter1 h1 {
    font-size: 32px;
    font-weight: 100;
    font-family: InstrumentSerif;
    margin: 0;
}

#chapterOf {
    padding-left: 8px;
    margin: 0;
    font-size: 16px;
    font-weight: 100;
    font-family: InstrumentSerif;
    font-style: italic;
}

#chapter1 p {
    font-size: 16px;
    font-family: SpaceGrotesk;
    width: 75%;
}

#firstPicFrame {
    width: 183px;
    transform: rotate(12deg);
    margin-top: 40px;
    margin-left: auto;
}

#firstPicFrame img {
    height: 100%;
    width: 100%;
}

#secondPicFrame {
    height: 122px;
    width: 183px;
    transform: rotate(-12deg);
    margin-top: 40px;
}

#secondPicFrame img {
    height: 100%;
    width: 100%;
}

#secondBodyText {
    margin-left: auto;
}

#chapter1Next {
    width: 50px;
    height: 24px;
}