#messagePage {
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messagePage img {
    display: block;
    width: 100px;
    height: 100px;
}

#messagePage h1 {
    text-align: center;
    margin-top: 0px;
}

#messagePage h2 {
    font-size: 10px;
    color: #ceced0;
}

#messageBubble {
    background-color: #e5e5ea;
    padding: 10px 14px;
    border-radius: 50px;
    max-width: 85%;
    margin-right: 40px;
    line-height: 1.4;
    margin-top: 0px;
    position: relative;
}

#messageBubble::after {
    content: "";
    position: absolute;
    right: -6px;
    bottom: 0;
    width: 12px;
    height: 12px;
    background: #e5e5ea;
    border-bottom-left-radius: 10px;
}

#messageBubble2 {
    background-color: rgb(80, 80, 213);
    padding: 10px 14px;
    border-radius: 50px;
    color: white;
    line-height: 1.4;
    margin-top: 50px;
    margin-left: 185px;
}