#startPage {
    background-image: url("../images/Cover_Page_Edit.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

    display: flex;
}

#phoneButton {
    display: flex;
    width: 10px;
    height: 16px;
    border-radius: 0;
    background-color: whitesmoke;
    border: 0px;

    position: absolute;
    top: 480px;
    left: 85px;

    transform: rotate(-10deg);
    border-radius: 2px;
}

#humanButton {
    height: 200px;
    width: 45px;
    position: absolute;
    top: 475px;
    left: 103px;

    border-radius: 30px;
    transform: rotate(-3deg);
    opacity: 0;
}

#humanButton:hover {
    cursor: pointer;
}